@font-face {
	font-family: Alegreya Sans;
	src: local("Alegreya Sans"), local("AlegreyaSans-Regular"), url(http://fonts.gstatic.com/s/alegreyasans/v3/KYNzioYhDai7mTMnx_gDgtUFqmyT-Ih543PWa_C0ig4.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
